$messagenius-black-color: #000000 !default;
$messagenius-white-color: #ffffff !default;

$messagenius-gray-900-color: #212121 !default;
$messagenius-gray-850-color: #323c47 !default;
$messagenius-gray-600-color: #757575 !default;
$messagenius-gray-550-color: #8e8e93 !default;
$messagenius-gray-500-color: #989898 !default;
$messagenius-gray-400-color: #d3d3d3 !default;
$messagenius-gray-100-color: #f1f1f1 !default;

$messagenius-cyan-400-color: #22adbf !default;
$messagenius-cyan-A400-color: #0087ff !default;

$messagenius-yellow-600-color: #ffb426 !default;

$messagenius-indigo-400-color: #5e91bc !default;

$messagenius-avatar-color-01: #ea7f7f !default;
$messagenius-avatar-color-02: #79cfa6 !default;
$messagenius-avatar-color-03: #5e91bc !default;
$messagenius-avatar-color-04: #c690d4 !default;
$messagenius-avatar-color-05: #f9d570 !default;
$messagenius-avatar-color-06: #eea8a2 !default;
$messagenius-avatar-color-07: #5abdee !default;
