.system__message {
  display: flex;
  padding-top: 5px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
  height: fit-content;
  justify-content: center;
  align-items: center;
  color: #323c47b9;
  font-weight: bold;
  font-family: 'RobotoRegular';
  font-size: 14px;
  text-align: center;
}
